<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AnalogContext" connectionString="Data Source=IPLAYDOLLSPC\SQLEXPRESS;Initial Catalog=TradeSoftCatalog;User ID=sa;Password=SQLpass;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
